.user {
    padding: 10px 0;
    margin: 80px auto;
    border: 1px solid #CCC;
    /*border-top: 1px solid #CCC;*/
    width: 318px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}

.userInfo {
    margin: 0 auto;
    text-align: center;
}