@(tweets: Int, following: Int, followers: Int)
<div class="user">
    <h2>@@Russinov Alex</h2>
    <table class="userInfo">
        <thead>
            <tr>
                <td>Tweets</td>
                <td>Following</td>
                <td>Followers</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><p>@tweets</p></td>
                <td><p>@following</p></td>
                <td><p>@followers</p></td>
            </tr>
        </tbody>
    </table>
</div>